@font-face {
  font-family: "iconfont"; /* Project id 2433826 */
  src: url('iconfont.woff2?t=1622206873334') format('woff2'),
       url('iconfont.woff?t=1622206873334') format('woff'),
       url('iconfont.ttf?t=1622206873334') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-fabuwendang:before {
  content: "\e78d";
}

.el-icon-tianzige:before {
  content: "\e629";
}

.el-icon-ling:before {
  content: "\e603";
}

.el-icon-lingdang:before {
  content: "\e6dc";
}

.el-icon-lingdang1:before {
  content: "\e636";
}

.el-icon-lingdang2:before {
  content: "\e634";
}

.el-icon-lingdang3:before {
  content: "\e76b";
}

.el-icon-lingdang-copy:before {
  content: "\e602";
}

.el-icon-xiaoxizhongxin:before {
  content: "\e619";
}

.el-icon-xiaoxi:before {
  content: "\e62d";
}

.el-icon-bianji:before {
  content: "\e65c";
}

.el-icon-bj:before {
  content: "\e61e";
}

.el-icon-edit:before {
  content: "\e60f";
}

.el-icon-duihao:before {
  content: "\e614";
}

.el-icon-chahao:before {
  content: "\e60e";
}

.el-icon-qr:before {
  content: "\e60a";
}

.el-icon-qx:before {
  content: "\e6e8";
}

.el-icon-quxiao:before {
  content: "\e70d";
}

.el-icon-queren:before {
  content: "\e690";
}

.el-icon-add:before {
  content: "\e71f";
}

.el-icon-tianjia:before {
  content: "\e68d";
}

.el-icon-zengjia:before {
  content: "\e608";
}

.el-icon-hengxuxian:before {
  content: "\e64e";
}

.el-icon-hengxian:before {
  content: "\e601";
}

.el-icon-xiugai:before {
  content: "\e88d";
}

.el-icon-delete:before {
  content: "\e680";
}

.el-icon-sandian:before {
  content: "\ea0a";
}

.el-icon-liebiao:before {
  content: "\e60c";
}

.el-icon-yincang:before {
  content: "\e648";
}

.el-icon-xianshi:before {
  content: "\e6cc";
}

.el-icon-xuanti:before {
  content: "\e67d";
}

.el-icon-kaitibaogao:before {
  content: "\e606";
}

.el-icon-chengjichaxun:before {
  content: "\e640";
}

.el-icon-zhongqijiancha:before {
  content: "\e650";
}

.el-icon-lunwen:before {
  content: "\e600";
}

.el-icon-renwushuxiazai:before {
  content: "\e62e";
}

.el-icon-biyesheji:before {
  content: "\e609";
}

.el-icon-xuantihuizong:before {
  content: "\e65b";
}

.el-icon-xueshengxinxiguanli:before {
  content: "\e715";
}

.el-icon-pingshenhuizong:before {
  content: "\e60d";
}

.el-icon-dabianpingshenanpaihuizong:before {
  content: "\e607";
}

.el-icon-jiaoshixinxiguanli:before {
  content: "\e615";
}

